@media (min-width: 1600px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 40px;

    }

    footer p {
        font-size: 1.8rem;
    }

    .cab {
        padding-left: 2rem;
    }

    .navbar-container {
        padding: 2rem 4rem;
    }

    .logo img {
        width: 200px;
        padding: 40px;
    }

    .nav-links li {
        font-size: 2rem;
    }

    .nav-links li a {
        font-size: 2rem;
    }

    .social-icons a {
        font-size: 4rem;
    }

    .banner {
        position: relative;
        width: 100%;
        height: 60vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .banner img {
        background-color: rgba(0, 0, 0, 0.548);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: opacity 1s ease-in-out;
    }

    .Modalidades {
        margin-top: 40px;
        display: flex;
        overflow-x: auto;
        align-items: center;
        justify-content: center;
        padding: 200px;
        scroll-snap-type: x mandatory;
        position: relative;
        height: 75px;
        overflow: hidden;
    }
    .Modalidades::-webkit-scrollbar {
        display: none;
    }
    
    #modalidades-container {
        display: flex;
        /* Permite a rolagem horizontal */
        scroll-behavior: smooth;
        /* Rola suavemente */
        overflow: hidden;
    }
    
    #modalidades-container::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari */
    }
    
    .nav-buton.left, .nav-buton.right {
        opacity: 1;
        pointer-events: auto;
        transition: opacity 0.3s;
        color: white;
        background-color: green;
        height: 100px;
        width: 100px;
    }
    .nav-button.left, .nav-button.right {
        opacity: 1;
        pointer-events: auto;
        transition: opacity 0.3s;
        color: white;
        background-color: green;
        height: 100px;
        width: 50px;
    }

    .categoria,
    .modalidade {
        flex: 0 0 auto;
        width: 175px;
        height: 175px;
        padding: 75px;
        margin: 0 10px;
        scroll-snap-align: center;
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease;
    }

    .categoria:hover,
    .modalidade:hover {
        transform: translateY(-5px);
    }

    .total_modalidade {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .categoria img,
    .modalidade img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    /* Headings within categoria */
    .categoria h3,
    .modalidade h3 {
        position: relative;
        margin-top: 100px;
        font-size: 1rem;
        color: #333;
        text-align: center;
    }

    .Top_10 {
        display: flex;
        overflow-x: auto;
        padding: 50px;
        scroll-snap-type: x mandatory;
        position: relative;
        height: 600px;
    }
    
    #top-10-container {
        display: flex;
        /* Permite a rolagem horizontal */
        scroll-behavior: smooth;
        /* Rola suavemente */
        overflow: hidden;
    }
    
    #top-10-container::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari */
    }
    
    .top_10 {
        display: flex;
        gap: 4rem;
    }
    
    .total_top_10 {
        display: inline-block;
        scroll-snap-align: start;
        text-align: center;
        width: 600px;
    }
    
    .top {
        text-align: center;
        flex: 0 0 auto;
        width: 300px;
        height: 300px;
        margin: 0 10px;
        scroll-snap-align: center;
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease;
    }
    
    .top img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
    
    .top:hover {
        transform: scale(1.05);
    }
    
    /* Hide scrollbar */
    .Top_10::-webkit-scrollbar {
        display: none;
    }

    .title h3 {
        margin-top: 20px;
        font-size: 2.5rem;
        text-align: center;
    }

    h1 {
        font-size: 3rem;
    }

    .card h3 {
        font-size: 2rem;
    }

    .Cursos_bem_avaliados{
        gap: 30px;
    }
    .card {
        height: auto;
        width: calc(20% - 20px);
    }

    .card button {
        font-size: 2rem;
        padding: 20px 40px;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .parceiros {
        height: auto;
    }

    .perfil {
        margin-left: 300px;
        font-size: 2.5rem;
    }

    .perfil img {
        width: 350px;
        height: 350px;
    }

    .about-container,
    .mission-container,
    .vision-container,
    .price-container,
    .perfil-solange,
    .perfil-sueli {
        padding-left: 30%;
        padding-right: 30%;
        font-size: 1.9rem;
    }

    .free-education,
    .cards-free-education {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        font-size: 2rem;
    }

    .card-free-education {
        width: calc((100% - 90px) / 3);
        height: 760px;;
    }

    .card-free-education img {
        height: 400px;
    }

    .card-free-education p {
        font-size: 1.7rem;
    }

    .free-education-text h2 {
        font-size: 2.3em;
    }

    .free-education-text p {
        margin-top: 40px;
        font-size: 1.2em;
    }

    .card-free-education button {
        background-color: #063c77;
        border-radius: 100px;
        align-self: center;
        width: 250px;
        color: white;
        cursor: pointer;
        font-size: 1em;
        margin-bottom: 15px;
        padding: 10px 20px;
        transition: background-color 0.3s;
    }
    
    .card-free-education button:hover {
        background-color: #0056b3;
    }

    .anuncie_aqui {
        display: flex;
        flex-direction: row;
        height: auto;
        gap: 0px;
    }
    .anuncie_aqui_paragrafo {
        font-size: 1.8rem;
    }

    .card-anuncie {
        width: 400px;
        height: auto;
    }

    .anuncie_aqui img {
        height: auto;
        object-fit: cover;
    }

    #search-bar {
        width: 30%;
        padding: 20px;
        font-size: 2rem;
    }

    /* Courses */
    .categories{
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
        padding: 10px 0;
        border-bottom: 1px solid #e0e0e0;
    }
    .category{
        font-size: 1.6rem;
        color: #000;
        cursor: pointer;
        position: relative;
        bottom: 30%;
        left: 0;
    }
    
    .category::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: #000000;
        transition: width 0.3s ease, left 0.3s ease;
    }
    
    .category:hover::after{
        width: 100%;
        left: 0;
    }
    
    .category.active{
        color: green;
    }
    
    .courses-container{
        display: flex;
        flex-direction: row;
        margin: 0 10px;
        padding: 10px 0;
        /* background-color: blue; */
    }
    
    .subCategories{
        display: flex;;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 10px;
        padding: 10px 0;
        width: 45%;
    }
    
    .subCategory{
        font-size: 1.6rem;
        margin-left: 30px;
        color: #000;
        cursor: pointer;
        position: relative;
        /* background-color: red; */
    }
    
    .subCategory.active{
        color: #8ebb65;
    }
    
    .courses{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        column-gap: 0px;
        align-items: start;
        height: 100%;
    }
    
    .course-card {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        background-color: #ECEDEF;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        width: 85%;
        height: 400px;
        /* caso vc queira que dê certo, use height: auto; */
    
    }
    
    .course-card:hover {
        background-color: rgb(241, 240, 225);
    }
    
    .course-button {
        display: flex;
        margin-top: 8px;
        padding: 5px 10px;
        background-color: #BEF987;
        color: #000000;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 120px;
        border-radius: 25px;
        font-size: 20px;
    }
    
    .course-image{
        width: 160px;
    }
    
    .course-title {
        width: 80%;
        font-size: 20px;
        margin-top: -5px;
    }
    
    .course-duration {
        font-size: 20px;
        color: #000000;
        margin-top: 5px;
    }
    .subSubCategory{
        font-size: 1.4rem;
        margin-left: 50px;
        color: #000;
        cursor: pointer;
        position: relative;
    }

    /* Contact */
    .contato,
    .contact-container,
    .contact-container form {
        height: auto;
        margin-left: 8%;
        width: 70%;
    }

    .contact-container p {
        margin-left: 8%;
        font-size: 2rem;
    }

    .contact-container h1 {
        margin-left: 8%;
    }

    .contact-container form {
        width: 80%;
        font-size: 2rem;
    }

    .contact-container form button {
        width: 80%;
        font-size: 2rem;
        padding: 20px 40px;
    }

    .contact-container form input[type="text"],
    input[type="email"],
    textarea {
        width: 80%;
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 2rem;
    }
}

@media (min-width: 1600px) and (max-width: 1800px) {
    .categories{
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
        padding: 10px 0;
        border-bottom: 1px solid #e0e0e0;
    }
    .category{
        font-size: 1.2rem;
        color: #000;
        cursor: pointer;
        position: relative;
        bottom: 30%;
        left: 0;
    }
    
    .category::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: #000000;
        transition: width 0.3s ease, left 0.3s ease;
    }
    
    .category:hover::after{
        width: 100%;
        left: 0;
    }
    
    .category.active{
        color: green;
    }
    
    .courses-container{
        display: flex;
        flex-direction: row;
        margin: 0 10px;
        padding: 10px 0;
        /* background-color: blue; */
    }
    
    .subCategories{
        display: flex;;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 10px;
        padding: 10px 0;
        width: 45%;
    }
    
    .subCategory{
        font-size: 1.4rem;
        margin-left: 30px;
        color: #000;
        cursor: pointer;
        position: relative;
        /* background-color: red; */
    }
    
    .subCategory.active{
        color: #8ebb65;
    }
    
    .courses{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        column-gap: 0px;
        align-items: start;
        height: 100%;
    }
    
    .course-card {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        background-color: #ECEDEF;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        width: 85%;
        height: 400px;
        /* caso vc queira que dê certo, use height: auto; */
    
    }
    
    .course-card:hover {
        background-color: rgb(241, 240, 225);
    }
    
    .course-button {
        display: flex;
        margin-top: 8px;
        padding: 5px 10px;
        background-color: #BEF987;
        color: #000000;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 120px;
        border-radius: 25px;
        font-size: 20px;
    }
    
    .course-image{
        margin-top: -10px;
        width: 160px;
    }
    
    .course-title {
        width: 80%;
        font-size: 18.5px;
        margin-top: -5px;
    }
    
    .course-duration {
        font-size: 20px;
        color: #000000;
        margin-top: 5px;
    }
    .subSubCategory{
        font-size: 1.2rem;
        margin-left: 50px;
        color: #000;
        cursor: pointer;
        position: relative;
    }
}

@media (min-width: 1801px) and (max-width: 2000px) {
    .category{
        font-size: 1.3rem;
        color: #000;
        cursor: pointer;
        position: relative;
        bottom: 30%;
        left: 0;
    }
    
    .subCategories{
        display: flex;;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 10px;
        padding: 10px 0;
        width: 45%;
    }
    
    .subCategory{
        font-size: 1.5rem;
        margin-left: 30px;
        color: #000;
        cursor: pointer;
        position: relative;
        /* background-color: red; */
    }
    .subSubCategory{
        font-size: 1.4rem;
        margin-left: 50px;
        color: #000;
        cursor: pointer;
        position: relative;
    }
}
