.categoria-container {
    margin-right: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    height: auto;
}

.categoria-container:hover {
    cursor: pointer;
}

.categoria-titulo {
    font-size: 1rem;
    color: #000;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

.categoria-titulo::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease, left 0.3s ease;
}

.categoria-titulo:hover::after {
    width: 100%;
    left: 0;
}

.categoria-titulo.active {
    color: green; /* Cor do texto ao ser clicado */
}

.subSubCategoryTitle {
    font-size: 1rem;
    margin-left: 30px;
    color: #000;
    cursor: pointer;
    position: relative;
}
.subCategoryTitle {
    font-size: 1.3rem;
    color: #000;
    cursor: pointer;
    position: relative;
    bottom: 30%;
    left: 0;
}

.subcategoria-titulo {
    cursor: pointer;
}

.subcategoria-titulo.active{
    color: green; /* Cor do texto ao ser clicado */
}

#subSubCategoryDiv {
    overflow: hidden;
    display: none;
}

#subSubCategoryDiv.active {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-self: center;
    cursor: pointer;
}

.cursos_nexus_section {
    display: block;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #ffffff;
    overflow-y: auto;
    height: auto;
    width: 100%;
}

#search-bar {
    width: 20%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*text-transform: uppercase;*/
    height: auto;
}

.subcategoria-container {
    display: block;
    width: 95%;
    margin-bottom: 20px;
    padding: 20px;
    overflow-x: hidden;
    animation: slideDown 0.5s ease-in-out;
    /*text-transform: uppercase;*/
}

.subcategoria-container h3 {
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: 10px;
}

.cursos-container {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding: 20px;
    margin-right: 40px;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
}

.curso-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #ECEDEF;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 90%;
    height: 90%;
}

.curso-card:hover {
    background-color: rgb(241, 240, 225);
}

.curso-button {
    display: flex;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #BEF987;
    color: #000000;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 95px;
    border-radius: 15px;
}

.curso-titulo {
    width: 300px;
    font-weight: bold;
    margin-bottom: 8px;
}

.curso-carga-horaria {
    color: #000000;
    margin-bottom: 8px;
}
