.categoria-container {
    margin-right: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    height: auto;
}

.categoria-container:hover {
    cursor: pointer;
}

.categoria-titulo {
    font-size: 1rem;
    color: #000;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

.categoria-titulo::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease, left 0.3s ease;
}

.categoria-titulo:hover::after {
    width: 100%;
    left: 0;
}

.categoria-titulo.active {
    color: green; /* Cor do texto ao ser clicado */
}

.subcategoria-titulo {
    cursor: pointer;
}